page-login {
  .grey-bg {
    background: #586971;
  }

  .card {
    color: #202020;
  }

  .card-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .card-subtitle {
    font-size: 0.8em;
    padding: 16px 0px 0px 16px;
  }

  .card-content {
    font-size: 1.1em;
  }
}
