page-login {
  .grey-bg {
    background: #586971;
  }

  .card {
    color: #202020;
  }

  .card-title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .card-subtitle {
    font-size: 0.8em;
    padding: 16px 0px 0px 16px;
  }

  .card-content {
    font-size: 1.1em;
  }

  @media all and (min-width: 768px) {
    .card h2 {
      font-size: 3em;
    }

    .card p {
      font-size: 2em;
    }

    .card .button-md {
      height: 5em;
      margin-bottom: 2em;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

    .card .button-md span {
      font-size: 2em;
    }
  }
}
