progress-bar {
  .progress-outer {
        width: 50%;
        // margin: 10px 2%;
        padding: 1px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
        float: left;
    }

    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 2px;
        border-radius: 20px;
        background-color: map-get($colors, cyan);
    }

}
