<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lesson 1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="lesson-page">

  <ion-slides pager paginationType="progress" (ionSlideDidChange)="getSlideProgress()" (ionSlideReachEnd)="lessonSlidesComplete()">
    <ion-slide *ngFor="let slide of slides">
      <div *ngIf="slide.image">
        <img [src]="slide.image" class="slide-image {{slide.imgClass}}"/>
      </div>
      <div [ngClass]="slide.specialImg !== undefined ? 'lesson-special-div': 'lesson-title-div'">
        <img [src]="slide.specialImg" *ngIf="slide.specialImg" alt="" class="special-img" />
        <h2 *ngIf="slide.title" class="slide-title {{slide.titleClass}}" [innerHTML]="slide.title"></h2>
        <ion-icon *ngIf="completedQ1 && slide.choiceQuestion" name="checkmark-circle" class="check-icon"></ion-icon>
      </div>
      <div *ngIf="slide.videoUrl" class="intrinsic-container intrinsic-container-16x9">
        <div id="{{slide.playerId}}"></div>
      </div>
      <p [innerHTML]="slide.description" class="text-left"></p>
      <ul *ngIf="slide.links" class="read-up-links">
        <li *ngFor="let link of slide.links">
          <a (click)="launchLink(link.href, link.title)">{{link.title}}</a>
        </li>
      </ul>
      <div *ngIf="slide.choiceQuestion">
        <hr/>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <button ion-button block color="light" class="choice" (click)="presentModal(slide.choice1, true)"><p class="text-wrap">{{slide.choice1}}</p></button>
            </ion-col>
            <ion-col col-12>
              <button ion-button block color="light" class="choice" (click)="presentModal(slide.choice2, true)"><p class="text-wrap">{{slide.choice2}}</p></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <button *ngIf="slide.lastCard" ion-button large icon-end color="cyan" class="done-button" (click)="goHome()">
        Done
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
